// Hue: Blue
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');

// fonts
$roboto: 'Roboto', sans-serif !important;
$monteserrat: 'Monteserrat', sans-serif !important;

// colors
$breaker-bay: #537D7F;
$botticelli: #99B7B8;
$solitude: #D9E4E7;
$narvik: #F7F6F3;
