@import "../../styles/defaults.scss";

.app-bar {
  &__container {
    background-color: $green;
  }

  &__title {
    margin-left: 10px !important;
    font-size: 22px !important;
    font-family: $monteserrat;
    font-weight: 500 !important;
  }

  &__back-to-top {
    background-color: $green !important;
    color: white;
  }
}

.footer2 {
  &__container {
    background-color: $green;
    text-align: center;
    padding: 16px;
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  &__title {
    font-size: 18px !important;
    font-family: $roboto;
    font-weight: 500 !important;
  }

  &__label {
    font-size: 16px !important;
    font-family: $roboto;
    font-weight: 500 !important;
  }

  &__text {
    font-size: 16px !important;
    font-family: $roboto;
    margin-top: 8px !important;
  }

  &__footnote {
    font-size: 14px !important;
    font-family: $roboto;
    margin-top: 24px !important;
  }
}

.menu {
  &__container {
    width: 'auto'
  }
}

.body {
  &__container {
    background-color: $white;
    // height: calc(100vh);
  }
}