@import "../../styles/defaults.scss";

.header {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 64px;
  justify-content: space-around;
  position: sticky;
  top: 0;
  width: 100%;
  background: linear-gradient(to top, rgba(255,255,255,0), rgba(128,128,128,1));

  @media screen and (max-width: $mobile) {
    justify-content: space-between;
    padding-right: 16px;
  }

  &__solid {
    background: $light;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }

  &__text {
    color: $secondary !important;
  }

  &__logo {
    height: 72px;

    @media screen and (max-width: $mobile) {
      height: 56px;
    }
  }

  &__options {
    display: flex;
    flex-direction: row;
  }

  &__menu {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__button {
    background-color: $accent;

    &:hover {
      background-color: rbg(255, 204, 0);
    }
  }
}

.dropdown {
  display: inline-block;
  margin-right: 64px;
  position: relative;

  &:hover .dropdown-content {
    display: block;
  }

  &:hover .dropdown__text {
    text-decoration: none;
    font-weight: 500;
  }

  &__text {
    font-family: $roboto;
    font-size: 18px;
    border: none;
    color: $light;

    &:hover {
      text-decoration: none;
      font-weight: 500;
    }
  }
}

.MuiLink-underlineHover:hover {
  text-decoration: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: $whiteSmoke;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;

  a {
    color: $primary;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

    &:hover {
      background-color: #ddd;
      text-decoration: none;
    }
  }
}
