@import "../../styles/defaults.scss";

.footer {
  &__container {
    background-color: $whiteSmoke;
    text-align: center;
    padding: 32px 16px 16px;
    width: 100%;
  }

  &__text-container {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     justify-content: space-evenly;
  }

  &__inside-container {
    text-align: start;
    width: 264px;
    margin-bottom: 32px;
  }

  &__title {
    color: $primary;
    font-size: 18px !important;
    font-family: $roboto;
    font-weight: 500 !important;
  }

  &__label {
    font-size: 16px !important;
    font-family: $roboto;
    font-weight: 500 !important;
  }

  &__text {
    color: $primary;
    font-size: 16px !important;
    font-family: $roboto;
    margin-top: 8px !important;
  }

  &__footnote {
    font-size: 14px !important;
    font-family: $roboto;
    margin-top: 24px !important;
  }
}